<!DOCTYPE HTML>
<html>
    <head>
        <title>Weather Forecast</title>
    </head>
    <body>
        <h1>Temperature of Philadelphia is :{{temp}}</h1>
        <h1>Weather of Philadelphia is :{{weather}}</h1>
       
    </body>
</html>